@using MVC_Project.Models;

@{
    Layout = "~/Views/Shared/_SearchTemplateLayout.cshtml";
}

@*Do not working*@
@*@{
        List<MVC_Project.Models.Search>
    }*@

@*Rather it is working*@
@*@{
    List<MVC_Project.Models.Search> searchList = new List<MVC_Project.Models.Search>();
    }*@

@{
    List<Search> lst = Search.GetSearch();

    foreach (Search search in lst)
    {
        if (search.BranchName == "Arab")
        {
            <h3>@search.BranchName</h3>
            <br />
        }
    }

    string Name = "Ibrahim Khalil";
}

<p>@Name</p>

@Html.Partial("_PartialIndexPage")